<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KFCDelivery"
        tools:targetApi="31">

        <!-- LAUNCHER: Role Select Screen -->
        <activity
            android:name=".RoleSelectActivity"
            android:exported="true"
            android:theme="@style/Theme.KFCDelivery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CUSTOMER FLOW -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />



        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".CartActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".OrderStatusActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".ItemDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <!-- KITCHEN STAFF FLOW -->
        <activity
            android:name=".StaffLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".StaffDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />
            
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <!-- DELIVERY RIDER FLOW -->
        <activity
            android:name=".RiderLoginActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".RiderRegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

        <activity
            android:name=".RiderDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.KFCDelivery" />

    </application>

</manifest>